body {
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

.topnav {
  overflow: hidden;
  border-bottom: 1px solid #DDD;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000;
  font-size: 17px;
}

.topnav-right {
  float: right;
  padding: 14px 16px;
  font-size: 17px;
}

.dataUpdate {
  color: grey;
  padding-top: 5px;
  font-size: 14px;
  text-align: right;
}

h1 {
    font: 24px sans-serif;
    font-weight: normal;
    padding-top: 20px;
    padding-left: 5px;
  }

.chart {
    height: 250px;
}

.highlights {
  padding-left: 20px;
}

.highlightLabel {
  font-size: 14px;
  margin-bottom: -10px;
  color: grey;
}
.highlight {
  font-size: 42px;
  padding-right: 40px;
}

.up {
  color: #9ad3bc;
}

.down {
  color: #ec524b;
}

