.light {
  --background: white;
  --foreground: #black;
  --foreground-subtle: grey;
}

.dark {
  --background: black;
  --foreground: white;
  --foreground-subtle: grey;
}

body {
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--foreground);
}

.topnav {
  overflow: hidden;
  border-bottom: 1px solid #DDD;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--foreground);
  font-size: 17px;
}

.topnav-right {
  float: right;
  padding: 14px 16px;
  font-size: 17px;
}

.dataUpdate {
  color: var(--foreground-subtle);
  padding-top: 17px;
  font-size: 14px;
  text-align: right;
}

h1 {
    font: 24px sans-serif;
    font-weight: normal;
    padding-top: 20px;
    padding-left: 7px;
}

.chart {
    height: 250px;
}

.chartSmall {
  height: 125px;
}

.highlights {
  padding-top: 20px;
  border-bottom: solid 1px var(--foreground-subtle);
}

.highlightLabel {
  font-size: 14px;
  margin-bottom: -10px;
  color: var(--foreground-subtle);
}
.highlight {
  font-size: 42px;
}

.highlightChange {
  font-size: 20px;
  vertical-align: text-top;
}

.up {
  color: #9ad3bc;
}

.down {
  color: #ec524b;
}

.beta {
  color: red;
  font-weight: bold;
}

.chartSubtitle {
  font-size: 12px;
  margin-top: 28px;
  color: grey;
}

